html {
    --primary-text-light: rgba(0, 0, 0, 0.87);
    --primary-text-dark: white;
    --primary-color: #3e50b4;
    --accent-color: #ff3f80;
    --background-light: #fafafa;
    --background-dark: #212121;

    --color-0: #ff9800;
    --color-1: #f44336;
    --color-2: #4caf50;
    --color-3: #2196f3;

    --color-0-light: #ffb74d;
    --color-1-light: #e57373;
    --color-2-light: #81c784;
    --color-3-light: #64b5f6;

    --color-0-dark: #f57c00;
    --color-1-dark: #d32f2f;
    --color-2-dark: #388e3c;
    --color-3-dark: #1976d2;

    --text-opposite-color: rgba(0, 0, 0, 0.54);

    --text-color: var(--primary-text-dark);
    --background-color: var(--background-dark);

    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
}

.content {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

div.divTable {
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
    max-height: 250px;
    overflow: scroll;
}

div.divAfterTable {
    clear: left;
}

div.graphContainer p {
    text-align: center;
}

table, th, td {
    border: 1px solid var(--text-color);
}

th, td {
    padding: 10px;
}

hr {
    border: 1px dashed var(--color-1);
    opacity: 0.5;
}

footer {
    text-align: right;
    font-size: 12px;
}

#postalMap {
    height: 300px;
}
